<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>想删除我？

长按便签，就会出现删除按钮。</string>
	<string>欢迎使用

这是一款简单纯粹的便签应用。

能快速创建便签，实时保存，快速搜索。

登录印象笔记后，自动上传便签到印象笔记，云端保存。

支持分享，可以将便签分享到社交网络或其它应用，也能让其它应用分享内容到便签。</string>
</array>
</plist>
